* {
    margin:0;
    padding:0;
}

html {
    font-size:10px;
    box-sizing: border-box;
    background-color: lightskyblue;
}

h1 {
    text-align: center;
    font-size:5rem;
    color:black;
    -webkit-text-stroke: .03rem white;
    padding:3rem;
}

p {
    text-align: center;
    font-size:3rem;
}

#wrapper {
    display:flex;
    justify-content: center;
    padding:2rem;
}

table {
    border-collapse: collapse;
    border-bottom: .1rem solid black;
    text-align: center;
}

td {
    padding:1rem 3rem;
}

th {
    font-size:3rem;
    padding:1rem;
    background-color: lightpink;
    -webkit-text-stroke: .02rem white;
}

th, td {
    border:.2rem solid black;
}

td {
    font-size:2rem;
}

tr:nth-child(even) {
    background-color:lightgray;
}

tr:nth-child(odd) {
    background-color: white;
}

#register {
    display:flex;
    justify-content:center;
    font-size:2.5rem;
}


label, input {
    padding-bottom:.5rem;
}

input {
    margin-bottom:1rem;
    padding:.5rem;
}

form {
    display:flex;
    flex-direction:column;
}

button {
    font-size:2rem;
    margin-top:1rem;
    margin-bottom:5rem;
    padding:.2rem;
}